/**
 * Name: matheuslc
 * Author: Matheus Carmo
 * Licesense: Whatever 
 */


html {
    height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    font-size: 16px;
    background: url("../img/bg.jpg");
    background-size: cover;
}

.photo {
    display: block;
    width: 200px;
    height: 270px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 40px;
    background-color: transparent;
    border: 3px solid #f7f7f7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.title {
    font-family: 'Pacifico', cursive;
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 6.0rem;
    margin-bottom: 0;
}

.subtitle {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    margin-top: 0;
}

.menu {
    list-style: none;
}

.menu-item {
    display: inline-block;
    color: #fff;
}