[submodule "public"]
	path = public
	url = git@github.com:matheuslc/matheuslc.github.io.git
	branch = github-pages
[submodule "themes/base16"]
	path = themes/base16
	url = git@github.com:matheuslc/hugo-base16-theme.git
